#########################################################################################################
##	This is an example .gitignore file for Vivado, please treat it as an example as 
##	it might not be complete. In addition, XAPP 1165 should be followed.
#########################################################################################################
#########
#Exclude all
#########

/prj_lhz_uart_led/prj_lhz_uart_led.cache/*
/.cxl.ip/
/prj_lhz_uart_led/prj_lhz_uart_led.gen/*
#!/prj_lhz_uart_led/prj_lhz_uart_led/prj_lhz_uart_led.en/sources_1/bd/system/hdl/*.v
/prj_lhz_uart_led/prj_lhz_uart_led.hw/
/prj_lhz_uart_led/prj_lhz_uart_led.ip_user_files/
/prj_lhz_uart_led/prj_lhz_uart_led.sim/
/prj_lhz_uart_led/prj_lhz_uart_led.runs/
/prj_lhz_uart_led/prj_lhz_uart_led.srcs/sources_1/bd/system/hw_handoff/
/prj_lhz_uart_led/prj_lhz_uart_led.srcs/sources_1/bd/system/ipshared/
/prj_lhz_uart_led/prj_lhz_uart_led.srcs/sources_1/bd/system/sim/
/prj_lhz_uart_led/prj_lhz_uart_led.srcs/sources_1/bd/system/ui/
/prj_lhz_uart_led/prj_lhz_uart_led.srcs/sources_1/bd/system/ip/

/hsem_s750_uart_pwm/hsem_s750_uart_pwm.cache/*
/.cxl.ip/
/hsem_s750_uart_pwm/hsem_s750_uart_pwm.gen/*
#!/hsem_s750_uart_pwm/hsem_s750_uart_pwm/hsem_s750_uart_pwm.en/sources_1/bd/system/hdl/*.v
/hsem_s750_uart_pwm/hsem_s750_uart_pwm.hw/
/hsem_s750_uart_pwm/hsem_s750_uart_pwm.ip_user_files/
/hsem_s750_uart_pwm/hsem_s750_uart_pwm.sim/
/hsem_s750_uart_pwm/hsem_s750_uart_pwm.runs/
/hsem_s750_uart_pwm/hsem_s750_uart_pwm.srcs/sources_1/bd/system/hw_handoff/
/hsem_s750_uart_pwm/hsem_s750_uart_pwm.srcs/sources_1/bd/system/ipshared/
/hsem_s750_uart_pwm/hsem_s750_uart_pwm.srcs/sources_1/bd/system/sim/
/hsem_s750_uart_pwm/hsem_s750_uart_pwm.srcs/sources_1/bd/system/ui/
/hsem_s750_uart_pwm/hsem_s750_uart_pwm.srcs/sources_1/bd/system/ip/

/sim/tb/work/*
/sim/tb/wlf*
*.xlsx
*.xls
/vitis/
*.jou
*.log
*.xci
*.tcl
*.cpp
*.c
*.h
*.ui

*.bda
*.str
*.xml
*.ini
*.version
!*.v
!prj_lhz_uart_led\prj_lhz_uart_led.runs\impl_1\dds_sample_top.bit